{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/posts/{{id}}">{{title}}</a>
    </h2>
    <p>posted by: {{user.username}} on {{format_date date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post_body}}
    </p>
      
      {{!-- commenting on posts --}}
      {{#if comments.length}}
        {{#each comment as |comment|}}
        <p class="comments">
          {{text}}
        </p>
        <p>: {{user_id}}</p>
        {{/each}}
      {{/if}}
      {{#if logged_in}}
        <form>
          <label for='Comments'></label>
          <textarea class="form-input" id="leaveComment" name="leaveComment"></textarea>
          <button type='submit' id='submitComment'>Comment</button>
        </form>
      {{/if}}

  </div>
</div>
{{/each}}