<div class="row p-5">
  <div class="col-sm-12">
    {{#each posts as |post|}}
      <div class="card">
        <div class="card-header custom-text-color">
          <a
            href="/post/{{id}}"
            class="text-reset text-decoration-none"
          >{{title}} </a>
          <span style="float: right;">Posted by {{user.username}} on {{format_date  created_date}}</span>
        </div>
        <div class="card-body">
          <p class="card-text">{{content}}</p>
        </div>
      </div>
      <div>&nbsp;</div>
    {{/each}}
  </div>
</div>